<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"> 
    <!-- For CSS and JavaScript files, the default directory is src/main/resources/static  -->
    <!-- https://www.baeldung.com/spring-thymeleaf-css-js -->
    <title>create rectangle</title>
</head>
<body>
    <p>enter the <u>name</u>, <u>color</u>, <u>width</u>, and <u>height</u> attributes of your rectangle!</p>

    <form action="#" method="post" th:action="@{/create}" th:object="${rect}" autocomplete="off">
        <input type="text" th:field="*{name}" placeholder="name" required>
        <input type="text" th:field="*{color}" placeholder="color" required>
        <input type="number" th:field="*{width}" placeholder="width" required>
        <input type="number" th:field="*{height}" placeholder="height" required>
        <div class="premium">
            <span>is premium rectangle?</span>
            <input type="checkbox" th:field="*{isPremiumRect}">
        </div>
        
        <input type="submit" value="Create Rectangle">
    </form>

    <div class="main-menu">
        <a th:href="@{/}">main menu</a>
    </div>
</body>
</html>