<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"> 
    <!-- For CSS and JavaScript files, the default directory is src/main/resources/static  -->
    <!-- https://www.baeldung.com/spring-thymeleaf-css-js -->
    <title>destroy success</title>
</head>
<body>
    <p>DELETE query successfully executed.</p>

    <div class="main-menu">
        <a th:href="@{/}">main menu</a>
    </div>
</body>
</html>