<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>destroy</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/destroy}" th:object="${rectID}">
        <input type="number" th:field="*{ID}" placeholder="id">
        <br>
        <input type="submit" value="Destroy Rectangle">
    </form>

    <a th:href="@{/}">main page</a>
</body>
</html>