<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"> 
    <!-- For CSS and JavaScript files, the default directory is src/main/resources/static  -->
    <!-- https://www.baeldung.com/spring-thymeleaf-css-js -->
    <title>destroy rectangle</title>
</head>
<body>
    <p>enter the <u>ID</u> attribute of rectangle to be deleted!</p>
    <p>(see the display page for all rectangle IDs)</p>

    <form action="#" method="post" th:action="@{/destroy}" th:object="${rectID}" autocomplete="off">
        <input type="number" th:field="*{ID}" placeholder="id" required> <br>
        <input type="submit" value="Destroy Rectangle">
    </form>

    <div class="main-menu">
        <a th:href="@{/}">main menu</a>
    </div>
</body>
</html>