<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}"> 
  <!-- For CSS and JavaScript files, the default directory is src/main/resources/static  -->
  <!-- https://www.baeldung.com/spring-thymeleaf-css-js -->
  
  <title>main menu</title>
</head>
<body>
  <div class="header">
    <a href="#" class="logo">MENU:</a>
    <div class="header-right">
      <a th:href="@{/create}">create rectangle</a>
      <a th:href="@{/destroy}">destroy rectangle</a>
      <a th:href="@{/display}">display rectangles</a>
    </div>
  </div>
</body>
</html>